@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%; /* white */
		--foreground: 20 15% 5%; /* stone-950 */

		--card: 0 0% 100%; /* white */
		--card-foreground: 20 15% 5%; /* stone-950 */

		--popover: 0 0% 100%; /* white */
		--popover-foreground: 20 15% 5%; /* stone-950 */

		--primary: 335, 78%, 42%; /* pink-700 */
		--primary-foreground: 326 78% 95%; /* pink-100 */

		--secondary: 295, 72%, 40%; /* fuchsia-700 */
		--secondary-foreground: 287, 100%, 95%; /* fuchsia-100 */

		--muted: 60 5% 96%; /* stone-100 */
		--muted-foreground: 25 6% 45%; /* stone-500 */

		--accent: 48 97% 89%; /* amber-100 */
		--accent-foreground: 26, 90%, 37%; /* amber-700 */

		--destructive: 0 85% 61%; /* red-500 */
		--destructive-foreground: 60 10% 98%; /* stone-50 */

		--border: 20 6% 90%; /* stone-200 */

		--input: 20 6% 90%; /* stone-200 */

		--ring: 333, 71%, 51%; /* pink-600 */

		--radius: 0.5rem;
	}

	.dark {
		--background: 20 15% 5%; /* stone-950 */
		--foreground: 60 10% 98%; /* stone-50 */

		--card: 20 15% 5%; /* stone-950 */
		--card-foreground: 60 10% 98%; /* stone-50 */

		--popover: 20 15% 5%; /* stone-950 */
		--popover-foreground: 60 10% 98%; /* stone-50 */

		--primary: 336 75% 36%; /* pink-800 */
		--primary-foreground: 328 74% 98%; /* pink-50 */

		--secondary: 295, 70%, 33%; /* fuchsia-800 */
		--secondary-foreground: 289, 100%, 98%; /* fuchsia-50 */

		--muted: 13 7% 16%; /* stone-800 */
		--muted-foreground: 24 6% 64%; /* stone-400 */

		--accent: 23 83% 32%; /* amber-800 */
		--accent-foreground: 48 100% 97%; /* amber-50 */

		--destructive: 0 63% 31%; /* red-900 */
		--destructive-foreground: 60 10% 98%; /* stone-50 */

		--border: 13 7% 16%; /* stone-800 */

		--input: 13 7% 16%; /* stone-800 */

		--ring: 333, 71%, 51%; /* pink-600 */
	}
}
