@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%; /* white */
		--foreground: 0 0% 4%; /* neutral-950 */

		--card: 0 0% 100%; /* white */
		--card-foreground: 0 0% 4%; /* neutral-950 */

		--popover: 0 0% 100%; /* white */
		--popover-foreground: 0 0% 4%; /* neutral-950 */

		--primary: 326 78% 95%; /* pink-100 */
		--primary-foreground: 335 78% 42%; /* pink-700 */

		--secondary: 287 100% 95%; /* fuchsia-100 */
		--secondary-foreground: 295 72% 40%; /* fuchsia-700 */

		--muted: 0 0% 97%; /* neutral-100 */
		--muted-foreground: 0 0% 46%; /* neutral-500 */

		--accent: 48 97% 89%; /* amber-100 */
		--accent-foreground: 26 90% 37%; /* amber-700 */

		--destructive: 0 85% 61%; /* red-500 */
		--destructive-foreground: 0 0% 99%; /* neutral-50 */

		--border: 0 0% 90%; /* neutral-200 */

		--input: 0 0% 90%; /* neutral-200 */

		--ring: 333 71% 51%; /* pink-600 */

		--radius: 1rem;
	}

	.dark {
		--background: 0 0% 4%; /* neutral-950 */
		--foreground: 0 0% 99%; /* neutral-50 */

		--card: 0 0% 4%; /* neutral-950 */
		--card-foreground: 0 0% 99%; /* neutral-50 */

		--popover: 0 0% 4%; /* neutral-950 */
		--popover-foreground: 0 0% 99%; /* neutral-50 */

		--primary: 336 75% 36%; /* pink-800 */
		--primary-foreground: 328 74% 98%; /* pink-50 */

		--secondary: 295 70% 33%; /* fuchsia-800 */
		--secondary-foreground: 289 100% 98%; /* fuchsia-50 */

		--muted: 0 0% 15%; /* neutral-800 */
		--muted-foreground: 0 0% 64%; /* neutral-400 */

		--accent: 48 97% 89%; /* amber-100 */
		--accent-foreground: 26 90% 37%; /* amber-700 */

		--destructive: 0 63% 31%; /* red-900 */
		--destructive-foreground: 0 0% 99%; /* neutral-50 */

		--border: 0 0% 15%; /* neutral-800 */

		--input: 0 0% 15%; /* neutral-800 */

		--ring: 333 71% 51%; /* pink-600 */
	}
}
